.cart-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.cart-container .quantity-container {
  width: 80px;
}

.cart-container .quantity-container i {
  padding: 3.5px
}

.cart-container .quantity-container input {
  width: 30px;
}