.map-modal {
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translateX(50%);
    width: 450px;
    border-radius: 15px;
    border-width: 2px;
    background-color: rgb(252, 252, 252);
}
