.triangle-up {
  display: inline-block;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.triangle-left {
  height: 0px;
  width: 0px;
  border-style: solid;

  border-left-color: transparent;
  /* border-right-color: green; */
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.vertical-line {
  display: inline-block;
  border: 0;
  border-left: 2px solid;
  margin: 0em 0.25em;
  padding: 0;
}

